<div class="block-text">
  <h1>
    About
  </h1>
  <p>
    Inspiration for this app came whilst playing Twilight Imperium. If you haven't heard of this game it is an epic board game of strategy, politics, trade and war. The game is set in a period of unrest where the Imperial throne has been left vacant and every player (representing a different civilization) has a claim to it. Each civilization has unique strengths and weaknesses. Some are blood-thirsty and will battle their way to the throne. Others are studious and make up for their lack of strength with technology. Playing with six different civilizations it is inevitable that the struggle for power will build up to a large war and war means dice! On our latest play through we had several bloody wars and we needed more dice...
  </p>
  <p>
    Wouldn't it be nice to have the exact number and kind of dice you need?
  </p>
  <p>
    Well step on up, this app is for you.
  </p>
</div>