$red: #d61818;
$gold: #d1ce9d;

main {
  @include outer-container;
}
  
header {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  min-height: 106px;
  background-color: $red;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  p{
    margin-bottom: 9px;
    padding-top: 7px;
  }
}

body {
  background-color: #d1ce9d;
  margin: 0px;
}

.form {
  @include span-columns(6);
  @include omega();
  @include shift(3);
}

.table {
  @include fill-parent();
  @include row(table);
}

.form2 {
  @include span-columns(6);
  @include reset-display;
  @include pad();
}

.results {
  @include span-columns(6);
  @include pad();
}

.icon {
  width: 120px;
  height: 106px;
  float: left;
}

.icon2 {
  width: 120px;
  height: 106px;
  float: right;
}

.block-text {
  @include span-columns(6);
  @include shift(3);
  text-align: justify;
}

footer{
  min-height: 53px;
  background-color: $red;
  text-align: center;
  font-weight: bold;
  padding-top: 12px;
  padding-right: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 150px;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 30px;
    }
  }
}
